
/*--------------------Diamonds----------------------*/




.diamonds {

    text-align: center;

    overflow: visible;

    white-space: nowrap;

    display: inline-block;

}

.diamond-row-wrap {

    text-align: center;

    position: relative;

    float: left;

    clear: both;

}

.diamond-row-upper, .diamond-row-lower {

    overflow: visible;

    clear: both;

    width: 100%;

}

.diamond-row-lower {

    overflow: visible;

    position: absolute;

    bottom: 0;

}

 .diamond-row-lower .diamond-box {

    margin-left: 64.644660941%;

    /* 0.5 + 1 / sqrt(2) / 2 */

 margin-top: 64.644660941%;

}

.diamond-box-wrap {

    float: left;

    width: 250px;

    /* Size of diamonds */

    height: 250px;

}

.diamond-box {

    -webkit-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    transform: rotate(45deg);

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    box-sizing: border-box;

    overflow: hidden;

    position: relative;

    z-index: 1;

    width: 70.710678118%;

    /* x = sqrt(x^2 / 2) = 1 / sqrt(2) = 0.70710678118 */

 height: 70.710678118%;

    margin: 14.644660941%;

    border: 1px solid transparent;

}

.diamond-box-inner {

    -webkit-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    -ms-transform: rotate(-45deg);

    transform: rotate(-45deg);

    -webkit-transform-origin: center center;

    -moz-transform-origin: center center;

    -ms-transform-origin: center center;

    transform-origin: center center;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    box-sizing: border-box;

    width: 141.421356237%;

    /* sqrt(2) */

 height: 141.421356237%;

    margin: -20.7106781185% 0 0 -20.7106781185%;

    /* (1 - sqrt(2)) / 2 */

}

.item {

    display: block;

    position: relative;

    width: 100%;

    height: 100%;

    padding: 40% 0;

    color: #000;

    background-size: auto 100%;

    background-position: center center;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    box-sizing: border-box;

}

.item-hover {

    display: block;

    background: rgba(255, 255, 255, 0.95);

    height: 100%;

    width: 100%;

    padding: 40% 0;

    opacity: 0;

    position: absolute;

    top: 40%;

    margin-top: -40%;

    -webkit-transition: all .4s ease;

    -moz-transition: all .2s ease;

    transition: all .4s ease;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

.item:hover .item-hover {

    opacity: 1;

}

.item-hover h4 {

    font: 400 1.3em 'Open Sans', sans-serif;

    border-bottom: 1px solid #4D84C9;

    display: inline-block;

    text-transform: uppercase;

    padding-bottom: 1px;

}

.item-hover a {

    text-decoration: none;

    display: block;

    padding-top: .4em;

    font: 300 .9em 'Open Sans', sans-serif;

    color: #3D70BD;

}

.diamondswrap {

    text-align: center;

    margin: 0;

    display: block;

}
.grid,.grid li, .grid figure, .grid figcaption {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

.grid {

    padding: 20px;

    max-width: 1366px;

    margin: 0 auto;

    list-style: none;

    font-family: 'Open Sans', sans-serif;

}

.grid li {

    display: inline-block;

    width: 30%;

    min-width: 320px;

    margin: 0;

    padding: 15px;

    text-align: left;

    position: relative;

}

.grid figure {

    margin: 0;

    position: relative;

    border-bottom: 4px solid #F35978;

}

.grid figure img {

    max-width: 100%;

    display: block;

    position: relative;

}

.grid figcaption {

    position: absolute;

    top: 0;

    left: 0;

    padding: 20px;

    background: #fff;

}

.grid figcaption h3 {

    margin: 0;

    padding: 0 0 3px;

    color: #000;

}

.grid figcaption span {

    font-weight: 300;

    color: #ed4e6e}

.grid figcaption a {

    text-align: center;

    padding: 5px 10px;

    border-radius: 2px;

    display: inline-block;

    background: #ed4e6e;

    color: #fff;

    text-decoration: none;

    text-transform: uppercase;

    font-weight: 300;

}

.port-style figure img {

    z-index: 10;

    -webkit-transition: -webkit-transform 0.4s;

    -moz-transition: -moz-transform 0.4s;

    transition: transform 0.4s;

}

.no-touch .port-style figure:hover img,.port-style figure.cs-hover img {

    -webkit-transform: translateY(-50px) scale(0.6);

    -moz-transform: translateY(-50px) scale(0.6);

    -ms-transform: translateY(-50px) scale(0.6);

    transform: translateY(-50px) scale(0.6);

}

.port-style figcaption {

    height: 100%;

    width: 100%;

}

.port-style figcaption h3 {

    margin-top: 60%;

}

.port-style figcaption a {

    position: absolute;

    bottom: 20px;

    right: 20px;

}